# Web backend
flask==3.1.0

# Core ML + model building
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

# Hugging Face + LoRA
transformers==4.51.3
peft==0.15.2

# Data utilities
scikit-learn==1.6.1

# Image processing
pillow==11.2.1
opencv-python==4.11.0.86
PyMuPDF==1.25.5