@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animate-fade-out {
    animation: fadeOut 5s ease-in-out forwards;
}

.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

#loading-spinner {
  transition: opacity 0.3s ease;
}