<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cipher – Handwriting Recognition</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="/static/css/style.css">
      <script src="/static/js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
   </head>
   <body class="bg-[#1A1A1A] text-[#E0E0E0] min-h-screen flex flex-col">
      <!-- Header -->
      <header class="bg-[#2B2B2B] p-6 shadow-md fixed top-0 w-full z-10">
         <div class="container mx-auto flex items-center justify-between">
            <h1 class="text-3xl font-bold text-[#7FDBFF]"><a href="/">Cipher</a></h1>
         </div>
         <nav class="container mx-auto flex items-center justify-between mt-4">
            <div class="flex items-center space-x-5">
               <a href="/" class="text-lg text-[#E0E0E0] hover:text-[#B10DC9]">Home</a>
               <a href="/handwriting" class="text-lg text-[#E0E0E0] hover:text-[#B10DC9]">Handwriting</a>
               <a href="/emoji" class="text-lg text-[#E0E0E0] hover:text-[#B10DC9]">Emoji</a>
               {%if logged_in %}
                  <a href="/history" class="text-lg text-[#E0E0E0] hover:text-[#B10DC9]">History</a> 
               {% endif %}
            </div>
            <div class="flex items-center ml-auto space-x-5">
               {% if not logged_in %}
               <button onclick="toggleHidden('register')" class="text-lg text-[#E0E0E0] hover:text-[#7FDBFF]">Register</button>
               <button onclick="toggleHidden('login')" class="text-lg text-[#E0E0E0] hover:text-[#7FDBFF]">Login</button>
               {% else %}
               <a href="/logout" class="text-lg text-[#E0E0E0] hover:text-[#7FDBFF]">Logout</a>
               {% endif %}
            </div>
         </nav>
      </header>

      <!-- Main Content -->
      <main class="flex-grow pt-32 px-4">
         <div class="flex justify-center mt-10">
            <section class="max-w-xl w-full bg-[#2C2C2C]/80 border border-white/20 rounded-2xl p-6 shadow-md backdrop-blur-sm">
               <h2 class="text-2xl font-semibold text-center mb-6 text-[#7FDBFF] font-mono">Handwriting Recognition</h2>
               <form id="upload-form" enctype="multipart/form-data" class="space-y-4">
                  <input type="file" id="image-input" name="image" accept="image/*,.pdf" required class="w-full bg-[#444] text-white px-4 py-2 rounded">
                  <canvas id="pdf-preview" class="mt-4 max-h-64 hidden rounded border border-[#444]"></canvas>
                  <img id="preview-image" src="" alt="Image preview" class="mt-4 max-h-64 hidden rounded border border-[#444]" />
                  <button type="submit" class="w-full bg-[#7FDBFF] hover:bg-[#30CFD0] text-black font-semibold py-2 px-4 rounded">
                      Upload & Analyze
                  </button>
                </form>

                <!-- Output -->
                <div id="result-output" class="mt-6 text-center hidden">
                  <h3 class="text-lg font-semibold text-[#B10DC9] mb-2">Predicted Text:</h3>
                  <p id="result-text" class="bg-[#1A1A1A] border border-[#333] rounded p-4 text-white whitespace-pre-line"></p>
                </div>
            </section>
         </div>
      </main>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 w-3/4 sm:w-1/2">
          {% for category, message in messages %}
          <div class="alert {{ category }} mb-4 p-4 rounded-lg shadow-lg opacity-100 transition-opacity duration-1000 animate-fade-out" id="flash-message">
              <p class="font-semibold text-lg">
                {{ message }}
              </p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      <!-- Register Modal -->
      <div id="register" class="fixed inset-0 bg-black bg-opacity-80 hidden flex items-center justify-center z-20">
         <div class="bg-[#2C2C2C] text-white p-6 rounded shadow-lg w-1/2 h-1/2">
            <h3 class="text-5xl font-bold mb-4 text-[#7FDBFF]">Register</h3>
            <form action="/register" method="POST" class="space-y-4">
               <div>
                  <label for="username" class="block text-sm font-medium">Username</label>
                  <input type="text" id="username" name="username" class="w-full px-3 py-2 bg-[#444] text-white rounded" required>
               </div>
               <div>
                  <label for="password" class="block text-sm font-medium">Password</label>
                  <input type="password" id="password" name="password" class="w-full px-3 py-2 bg-[#444] text-white rounded" required>
               </div>
               <div>
                  <label for="password2" class="block text-sm font-medium">Confirm Password</label>
                  <input type="password" id="password2" name="password2" class="w-full px-3 py-2 bg-[#444] text-white rounded" required>
               </div>
               <div class="flex justify-between items-center">
                  <button type="submit" class="bg-[#7FDBFF] hover:bg-[#30CFD0] text-black py-2 px-4 rounded">Register</button>
                  <button type="button" onclick="toggleHidden('register')" class="text-[#B10DC9] hover:text-[#FF80FF]">Cancel</button>
               </div>
            </form>
         </div>
      </div>

      <!-- Login Modal -->
      <div id="login" class="fixed inset-0 bg-black bg-opacity-80 hidden flex items-center justify-center z-20">
         <div class="bg-[#2C2C2C] text-white p-6 rounded shadow-lg w-1/2 h-1/2">
            <h3 class="text-5xl font-bold mb-4 text-[#7FDBFF]">Login</h3>
            <form action="/login" method="POST" class="space-y-4">
               <div>
                  <label for="username" class="block text-sm font-medium">Username</label>
                  <input type="text" id="username" name="username" class="w-full px-3 py-2 bg-[#444] text-white rounded" required>
               </div>
               <div>
                  <label for="password" class="block text-sm font-medium">Password</label>
                  <input type="password" id="password" name="password" class="w-full px-3 py-2 bg-[#444] text-white rounded" required>
               </div>
               <div class="flex justify-between items-center">
                  <button type="submit" class="bg-[#7FDBFF] hover:bg-[#30CFD0] text-black py-2 px-4 rounded">Log In</button>
                  <button type="button" onclick="toggleHidden('login')" class="text-[#B10DC9] hover:text-[#FF80FF]">Cancel</button>
               </div>
            </form>
         </div>
      </div>

      <!-- Footer -->
      <footer class="fixed bottom-0 w-full bg-[#121212] text-center py-2 text-[#7FDBFF]">
         <p>&copy; 2025 CIPHER. All rights reserved.</p>
      </footer>
      <script>
        document.getElementById("image-input").addEventListener("change", function () {
         const file = this.files[0];
         const imagePreview = document.getElementById("preview-image");
         const pdfPreview = document.getElementById("pdf-preview");

         imagePreview.classList.add("hidden");
         pdfPreview.classList.add("hidden");

         if (!file) return;

         const fileType = file.type;

         if (fileType === "application/pdf") {
            const reader = new FileReader();
            reader.onload = function (e) {
               const typedarray = new Uint8Array(e.target.result);

               pdfjsLib.getDocument(typedarray).promise.then(pdf => {
               pdf.getPage(1).then(page => {
                  const canvas = pdfPreview;
                  const context = canvas.getContext("2d");
                  const viewport = page.getViewport({ scale: 1.5 });

                  canvas.height = viewport.height;
                  canvas.width = viewport.width;

                  page.render({ canvasContext: context, viewport: viewport }).promise.then(() => {
                     canvas.classList.remove("hidden");
                  });
               });
               });
            };
            reader.readAsArrayBuffer(file);
         } else if (fileType.startsWith("image/")) {
            const reader = new FileReader();
            reader.onload = function (e) {
               imagePreview.src = e.target.result;
               imagePreview.classList.remove("hidden");
            };
            reader.readAsDataURL(file);
         }
         });

        document.getElementById("upload-form").addEventListener("submit", function (e) {
          e.preventDefault();

          const formData = new FormData(this);

          fetch("/handwriting-ajax", {
              method: "POST",
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              document.getElementById("result-text").textContent = data.result_text;
              document.getElementById("result-output").classList.remove("hidden");
          })
          .catch(err => {
              alert("Something went wrong!");
              console.error(err);
          });
        });
        </script>

   </body>
</html>
